@model Register

<h2>Create New User</h2>
<form asp-controller="Security" asp-action="Register" method="post">
    <table>
        <tr>
            <td><label asp-for="UserName"></label></td>
            <td><input type="text" asp-for="UserName" /></td>
        </tr>
        <tr>
            <td><label asp-for="Password"></label></td>
            <td><input type="password" name="Password" /></td>
        </tr>
        <tr>
            <td><label asp-for="ConfirmPassword"></label></td>
            <td><input type="password" name="ConfirmPassword" /></td>
        </tr>
        <tr>
            <td><label asp-for="Email"></label></td>
            <td><input type="email" name="Email" /></td>
        </tr>
        <tr>
            <td><label asp-for="FullName"></label></td>
            <td><input type="text" name="FullName" /></td>
        </tr>
        <tr>
            <td><label asp-for="BirthDate"></label></td>
            <td><input type="date" name="BirthDate" /></td>
        </tr>
        <tr>
            <td colspan="2"><button type="submit">Save</button></td>
        </tr>
    </table>
    <div asp-validation-summary="All" class="text-danger"></div>
    <h3><a asp-controller="Security" asp-action="SignIn">Go to Sign In Page</a></h3>
</form>
